@page "{id:int}"
@model GameCatalog.Pages.Games.DetailsModel
@{
    ViewData["Title"] = "Детали игры";
}

<h1>@Model.Game.Title</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Разработчик</dt>
        <dd class="col-sm-10">@Model.Game.Developer</dd>

        <dt class="col-sm-2">Год выхода</dt>
        <dd class="col-sm-10">@Model.Game.ReleaseYear</dd>

        <dt class="col-sm-2">Жанр</dt>
        <dd class="col-sm-10">@Model.Game.Genre?.Name</dd>

        <dt class="col-sm-2">Описание</dt>
        <dd class="col-sm-10">@Model.Game.Description</dd>

        <dt class="col-sm-2">Изображение</dt>
        <dd class="col-sm-10">
            <img src="@Model.Game.ImageUrl" alt="@Model.Game.Title" style="max-width:300px;" />
        </dd>
    </dl>
</div>

<a asp-page="./Index" class="btn btn-secondary">Назад</a>